<div class="card text-center ">
    <div class="card-header bg-info">
La liste des rôles
    </div>
    <div class="card-body">

    <h3 *ngIf = 'this.status==0' class="bg-danger">{{this.messageStatus}}</h3>
    <h3 *ngIf = 'this.status==1' class="bg-success">{{this.messageStatus}}</h3>
<table class="table table-striped" *ngIf = 'this.userinfo[0].idRole==1'>
 <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
 
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let role of listeRoles">
     <td>{{role.id}}</td>
     <td>{{role.nom}}</td>
     <td><a href="roles/details/{{role.id}}" class="btn btn-info btn-sm" style="margin:2px;">Détails</a>
     <a href="roles/modifier/{{role.id}}" class="btn btn-warning btn-sm"  style="margin:2px;">Modifier</a>
     <button (click)="this.supprimer(role.id)" class="btn btn-danger  btn-sm"  style="margin:2px;">Supprimer</button></td>
    </tr>
    </tbody>
</table>
<h3 *ngIf = '!this.isLogin' class="bg-success">Only Admin</h3>

</div>
</div>